<div class="fixed -z-10 abstract-design">
  <img
    ngSrc="images/abstract-design-2.svg"
    width="249"
    height="201"
    alt="abstract-design"
    priority
  />
</div>
<section class="px-4 pb-16">
  <div class="sub-container mb-[30px]">
    <div
      class="w-fit mx-auto px-4 py-2 flex items-center gap-1 bg-gray-shades-15 rounded-full mb-3"
    >
      <div class="text-green-shades-60">
        <ng-icon name="heroCheckBadgeSolid" class="text-green-shades-60" />
      </div>
      <h3 class="text-xs">No LLC Required, No Credit Check.</h3>
    </div>
    <div>
      <h1 class="h1">
        Welcome to YourBank Empowering Your
        <span class="text-green-shades-60">Financial Journey</span>
      </h1>
      <p class="paragraph text-white-shades-90">
        At YourBank, our mission is to provide comprehensive banking solutions that empower
        individuals and businesses to achieve their financial goals. We are committed to delivering
        personalized and innovative services that prioritize our customers' needs.
      </p>
    </div>
  </div>
  <button class="btn-primary mx-auto block">Open Account</button>
  <div class="relative px-[26px] pt-20 mb-2.5 overflow-hidden">
    <div
      class="absolute top-14 -left-2.5 z-10 inline-flex items-center gap-1.5 py-2 px-2.5 bg-[#22251B] rounded-md"
    >
      <button
        class="bg-green-shades-60 text-gray-shades-10 rounded-full size-7 flex items-center justify-center"
      >
        <ng-icon name="heroPlus" size="16" />
      </button>
      <div>
        <h4 class="income">+ $5000,00</h4>
        <p class="income-text">Monthly Income</p>
      </div>
    </div>
    <div class="absolute top-15 -right-5 -z-20">
      <img ngSrc="images/abstract-design-1.svg" width="219" height="201" />
    </div>
    <div class="relative p-5 bg-gray-shades-10 border border-gray-shades-15 rounded-md">
      <div>
        <h3 class="text-[10px] leading-3.5">Your Transaction</h3>
        @for (transaction of transactions; track transaction.id) {
        <app-transaction
          [name]="transaction.name"
          [balance]="transaction.balance"
          [opacity]="transaction.opacity"
          [padding]="transaction.padding"
          [paddingInner]="transaction.paddingInner"
          [margin]="transaction.margin"
          [zIndex]="transaction.zIndex"
          [borderCls]="transaction.borderCls"
        />
        }
      </div>
      <app-money-exchange />
    </div>
  </div>
  <div class="flex items-center gap-1.5 w-fit ml-auto bg-[#22251B] py-1.5 px-3 rounded-full">
    <p class="text-[10px] leading-[150%]">Supported Currency</p>
    <div
      class="rounded-[28px] bg-gray-shades-10 border border-gray-shades-15 flex items-center gap-1 p-[5px]"
    >
      <div
        class="size-5 flex items-center justify-center bg-gray-shades-15 rounded-full text-green-shades-60"
      >
        <ng-icon name="faSolidDollarSign" size="14" />
      </div>
      <div
        class="size-5 flex items-center justify-center bg-gray-shades-15 rounded-full text-green-shades-60"
      >
        <ng-icon name="faSolidEuroSign" size="14" />
      </div>
      <div
        class="size-5 flex items-center justify-center bg-gray-shades-15 rounded-full text-green-shades-60"
      >
        <ng-icon name="faSolidBitcoinSign" size="14" />
      </div>
      <div
        class="size-5 flex items-center justify-center bg-gray-shades-15 rounded-full text-green-shades-60"
      >
        <ng-icon name="faBrandEthereum" size="14" />
      </div>
    </div>
  </div>
</section>
