<div class="absolute -z-10 abstract-design">
  <img
    ngSrc="images/abstract-design-2.svg"
    width="249"
    height="201"
    alt="abstract-design"
    priority
  />
</div>
<section>
  <div class="sub-container mb-[30px]">
    <div
      class="w-fit mx-auto px-4 py-2 flex items-center gap-1 bg-gray-shades-15 rounded-full mb-3"
    >
      <div class="text-green-shades-60">
        <ng-icon name="heroCheckBadgeSolid" class="text-green-shades-60" />
      </div>
      <h3 class="text-xs">No LLC Required, No Credit Check.</h3>
    </div>
    <div>
      <h1 class="h1">
        Welcome to YourBank Empowering Your
        <span class="text-green-shades-60">Financial Journey</span>
      </h1>
      <p class="paragraph text-white-shades-90">
        At YourBank, our mission is to provide comprehensive banking solutions that empower
        individuals and businesses to achieve their financial goals. We are committed to delivering
        personalized and innovative services that prioritize our customers' needs.
      </p>
    </div>
  </div>
  <button class="btn-primary mx-auto block">Open Account</button>
  <div>
    <div class="inline-flex items-center gap-1.5 py-2 px-2.5 bg-[#22251B] rounded-md">
      <button
        class="bg-green-shades-60 text-gray-shades-10 rounded-full size-7 flex items-center justify-center"
      >
        <ng-icon name="heroPlus" size="16" />
      </button>
      <div>
        <h4 class="income">+ $5000,00</h4>
        <p class="income-text">Monthly Income</p>
      </div>
    </div>
    <div>
      <h3 class="text-[10px] leading-3.5">Your Transaction</h3>
      @for (transaction of transactions; track transaction.id) {
      <div
        class="relative"
        [ngStyle]="{
          opacity: transaction.opacity,
          padding: transaction.padding,
          zIndex: transaction.zIndex
        }"
      >
        <div
          class="flex items-center justify-between bg-gray-shades-11 border border-gray-shades-11 rounded-md"
          [ngStyle]="{ padding: transaction.paddingInner, margin: transaction.margin }"
        >
          <div class="flex items-center gap-1.5">
            <div
              class="size-6 flex items-center justify-center rounded-full text-gray-shades-11 bg-green-shades-60"
            >
              <ng-icon name="heroArrowsRightLeft" size="14" />
            </div>
            <div>
              <h5 class="text-[9px] font-light leading-3">Transaction</h5>
              <p class="text-[10px] leading-3.5">{{ transaction.name }}</p>
            </div>
          </div>
          <p class="text-xs font-medium leading-4">{{ transaction.balance | currency }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section>
