<div
  class="relative bg-gray-shades-11"
  [ngClass]="borderCls()"
  [ngStyle]="{
    opacity: opacity(),
    padding: padding(),
    zIndex: zIndex()
  }"
>
  <div
    class="relative flex items-center justify-between  rounded-md"
    [ngStyle]="{ padding: paddingInner(), margin: margin(), zIndex: zIndex() }"
  >
    <div class="flex items-center gap-1.5">
      <div
        class="size-6 flex items-center justify-center rounded-full text-gray-shades-11 bg-green-shades-60"
      >
        <ng-icon name="heroArrowsRightLeft" size="14" />
      </div>
      <div>
        <h5 class="text-[9px] font-light leading-3">Transaction</h5>
        <p class="text-[10px] leading-3.5">{{ name() }}</p>
      </div>
    </div>
    <p class="text-xs font-medium leading-4">{{ balance() | currency }}</p>
  </div>
</div>
